.status {
  width: 99px;
  border: 1px solid;
  cursor: inherit;
  height: 28px;
  display: inline-flex;
  font-size: 0.875rem;
  align-items: center;
  font-weight: 500;
  border-radius: 4px;
  justify-content: center;
}

.danger {
  color: #e40000;
}

.content-wrapper {
  overflow: hidden;
}

.menu-button {
  width: 32px;
  min-width: 32px;
  color: #244abd;
  border: 1px solid;
  cursor: pointer;
  height: 32px;
  display: inline-flex;
  padding: 0;
  align-items: center;
  border-color: #244abd;
  border-radius: 4px;
  justify-content: center;
  background-color: transparent;
}

.table {
  @media screen and (max-width: 768px) {
    overflow: auto;
  }
}
