<div class="content form_page_wrapper">
  <div class="box rounded mt-2">
    <div class="d-flex justify-content-center mt-2 tab_responsive">
      <div class="d-flex flex-row justify-content-center align-items-center m-2">
        <input
          class="mr-1 checkbox"
          type="checkbox"
          [ngModel]="strategy.type == 'POSITIONAL'"
          (click)="changeType('POSITIONAL')"
        />
        <p class="mb-0 text-nowrap">Positional (NRML)</p>
      </div>
      <!-- <div class="d-flex flex-row justify-content-center align-items-center m-2">
        <input class="mr-1 checkbox" type="checkbox" />
        <p class="mb-0 text-nowrap">ATM Percent</p>
      </div> -->
      <div class="d-flex flex-row justify-content-center align-items-center m-2">
        <input
          class="mr-1 checkbox"
          type="checkbox"
          [ngModel]="strategy.type == 'INTRADAY'"
          (click)="changeType('INTRADAY')"
        />
        <p class="mb-0 text-nowrap">Intraday (MIS)</p>
        <img class="info" src="../../../../../assets/images/info.png" alt="" />
      </div>
      <!-- <div class="d-flex flex-row justify-content-center align-items-center m-2">
        <input class="mr-1 checkbox" type="checkbox" />
        <p class="mb-0 text-nowrap">CP based on Straddle Premium (SP)</p>
        <img class="info" src="../../../../../assets/images/info.png" alt="" />
      </div> -->
    </div>
    <div class="form_box">
      <div class="form_input">
        <label for="">Select Excahange:</label>
        <div class="custom_btn">
          <button [class]="position.exchange == 'NSE' ? 'active' : ''" (click)="position.exchange = 'NSE'">NSE</button>
          <button [class]="position.exchange == 'BSE' ? 'active' : 'border_lft'" (click)="position.exchange = 'BSE'">
            BSE
          </button>
          <!--         
          <button [class]="position.index == 'NIFTY' ? 'active' : ''" (click)="position.index = 'NIFTY'" style="width: 33%;">Nifty</button>
          <button [class]="position.index == 'BANKNIFTY' ? 'active' : 'border_lft'" (click)="position.index = 'BANKNIFTY'" style="width: 33%;">
            Banknifty
          </button>
          <button [class]="position.index == 'FINNIFTY' ? 'active' : 'border_lft'" (click)="position.index = 'FINNIFTY'">
            Finnifty
          </button> -->
          <!-- <button [class]="position.index=='FINNIFTY' ? 'active':''" (click)="position.index='FINNIFTY'">Finnifty</button> -->
        </div>
      </div>
      <!-- <div class="form_input">
        <label for="">Select Segment:</label>
        <div class="custom_btn">
          <button>Futures</button>
          <button class="active">Options</button>
        </div>
      </div> -->
      <div class="form_input">
        <label for="">Order Side:</label>
        <div class="custom_btn">
          <button [class]="position.orderSide == 'BUY' ? 'active' : ''" (click)="position.orderSide = 'BUY'">
            Buy
          </button>
          <button [class]="position.orderSide == 'SELL' ? 'active' : ''" (click)="position.orderSide = 'SELL'">
            Sell
          </button>
        </div>
      </div>
      <div class="form_input">
        <label for="">Order Type:</label>
        <div class="custom_btn">
          <button [class]="position.orderType == 'MARKET' ? 'active' : ''" (click)="position.orderType = 'MARKET'">
            Market
          </button>
          <button [class]="position.orderType == 'LIMIT' ? 'active' : ''" (click)="position.orderType = 'LIMIT'">
            Limit
          </button>
        </div>
      </div>
      <div class="form_input">
        <label for="">Stock Symbol:</label>
        <div
          class="custom_btn"
          class="focusSearch"
          role="combobox"
          aria-haspopup="listbox"
          aria-owns="react-autowhatever-1"
          aria-expanded="false"
          style="position: relative; box-sizing: border-box; padding: 6px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 224, 228); border-radius: 4px; margin: 0px; text-align: left;"
        >
          <div>
            <input
              class="input-focus searchInput"
              [readOnly]="isSearchDisable"
              id="create_stock_search"
              type="text"
              autocomplete="off"
              aria-autocomplete="list"
              aria-controls="react-autowhatever-1"
              placeholder="Search by name or ticker"
              value=""
              style="border: none; outline: none; margin-left: 8px; color: rgb(83, 91, 98); font-size: 13px; background-color: rgb(255, 255, 255); vertical-align: top; width: calc(100% - 32px);"
              aria-activedescendant="react-autowhatever-1--item-0"
              placeholder="Search stock"
              [(ngModel)]="position.symbol"
              #toggleSearch
              (click)="clickSearch()"
              (ngModelChange)="changeSearch($event)"
            />
            <i class="icon-search4 text-16 text-muted" *ngIf="!isSearchDisable"></i>
            <i
              class="bi bi-x-lg text-16 text-muted pointer"
              *ngIf="isSearchDisable"
              (click)="isSearchDisable = false; clickSearch()"
            ></i>
          </div>
          <div class="search-dropdown" #menuSearch *ngIf="isSearchOpen">
            <ul role="listbox" style="margin: 8px; padding: 0px; list-style-type: none;">
              <li
                class="option"
                *ngFor="let stock of stocks"
                style="margin: 4px 0px; border-radius: 4px; cursor: pointer;"
              >
                <div class="item" (click)="stockSelected(stock)" style="padding: 6px;">
                  <h5 style="margin: 0; font-size: 15px; font-weight: 500;">{{ stock.ticker }}</h5>
                  <h6 style="margin: 0; font-size: 12px;" title="Reliance Industries Ltd">{{ stock.name }}</h6>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form_input">
        <label for="">Max Quantity</label>
        <div class="custom_add_remove">
          <button>-</button>
          <input type="number" [(ngModel)]="position.quantity" value="1" />
          <button>+</button>
        </div>
      </div>
      <div class="form_input submit_btn">
        <button [disabled]="!position.symbol" (click)="addPosition(position)">Add Position</button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="orderLegs && orderLegs.length > 0">
    <div class="checkbox_wrap">
      <div class="checkbox_sepration">
        <!-- <div class="checkbox_box">
          <input type="checkbox" />
          <p>Square Off One Leg</p>
          <img class="info" src="../../../../../assets/images/info.png" alt="" />
        </div> -->
        <div class="checkbox_box">
          <input type="checkbox" [(ngModel)]="strategy.squareOffallLegs" [ngModelOptions]="{ standalone: true }" />
          <p>Square Off All Legs</p>
          <img class="info" src="../../../../../assets/images/info.png" alt="" />
        </div>
      </div>
      <div class="checkbox_sepration">
        <!-- <div class="checkbox_box">
          <input type="checkbox" />
          <p>Wait & Trade</p>
          <img class="info" src="../../../../../assets/images/info.png" alt="" />
        </div> -->
        <div class="checkbox_box">
          <input type="checkbox" [(ngModel)]="strategy.sltoCost" [ngModelOptions]="{ standalone: true }" />
          <p>Move SL to Cost</p>
          <img class="info" src="../../../../../assets/images/info.png" alt="" />
        </div>
        <div class="checkbox_box">
          <input
            type="checkbox"
            [(ngModel)]="strategy.reasapALL"
            [ngModelOptions]="{ standalone: true }"
            (change)="changeReasapALL(strategy.reasapALL)"
          />
          <p>Re- ExecuteAll</p>
          <img class="info" src="../../../../../assets/images/info.png" alt="" />
        </div>
      </div>
    </div>
    <div class="list_wrap">
      <div class="list_box_ctn" *ngFor="let order of orderLegs; let i = index">
        <div class="list_checkbox">
          <input type="checkbox" />
        </div>
        <div class="list_box">
          <div class="lft">
            <div class="list_input_group">
              <input type="number" [(ngModel)]="order.quantity" disabled="true" />
              <button>Qty.</button>
            </div>
            <div
              [class]="
                order.orderSide == 'SELL'
                  ? 'list_input_group no_background sell_btn'
                  : 'list_input_group no_background buy_btn'
              "
            >
              <button (click)="order.orderSide == 'SELL' ? (order.orderSide = 'BUY') : (order.orderSide = 'SELL')">
                {{ order.orderSide | titlecase }}
              </button>
            </div>
            <div class="list_input_group">
              <!-- <select *ngIf="order.strike.type == 'SPOT'" name="" id="" [(ngModel)]="order.strike.value"
                [ngModelOptions]="{ standalone: true }">
                <option *ngFor="let strike of strikes" [ngValue]="strike.id">{{ strike.name }}</option>
              </select> -->
              <ng-container>
                <button *ngIf="order.orderType == 'MARKET'">CP~</button>
                <button *ngIf="order.orderType == 'LIMIT'">Limit</button>
                <input
                  [(ngModel)]="order.price"
                  [ngModelOptions]="{ standalone: true }"
                  type="number"
                  placeholder="eg.150"
                />
              </ng-container>
            </div>
            <div class="list_input_group no_background">
              <button>
                {{ order.symbol }}
              </button>
            </div>
          </div>
          <div class="rgt">
            <div class="list_input_group">
              <span
                class="pointer"
                *ngIf="!order.target.type"
                style="position: relative; top: 10px;"
                (click)="updateTarget(i)"
                ><i class="bi bi-plus-circle"></i> Target</span
              >
              <ng-container *ngIf="order.target.type">
                <div class="input_box">
                  <div class="dropdown" ngbDropdown>
                    <button
                      class="btn_dropdown dropdown-toggle"
                      type="button"
                      id="tp"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ngbDropdownToggle
                    >
                      {{ order.target.type == 'percent' ? 'TG %' : 'TG pts' }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="tp" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="addTG('points', i)">Points</a>
                      <a class="dropdown-item" (click)="addTG('percent', i)">Percent (%)</a>
                      <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                  </div>
                  <input type="text" [(ngModel)]="order.target.value" />
                </div>
                <button class="cross_btn" (click)="removeTG(i)">
                  <img src="../../../../../assets/images/cross.png" alt="" />
                </button>
              </ng-container>
            </div>
            <div class="list_input_group">
              <span
                class="pointer"
                *ngIf="!order.stoploss.type"
                style="position: relative; top: 10px;"
                (click)="updateStoploss(i)"
                ><i class="bi bi-plus-circle"></i> Stoploss</span
              >
              <ng-container *ngIf="order.stoploss.type">
                <div class="input_box">
                  <div class="dropdown" ngbDropdown>
                    <button
                      class="btn_dropdown dropdown-toggle"
                      type="button"
                      id="tp"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ngbDropdownToggle
                    >
                      {{ order.stoploss.type == 'percent' ? 'SL %' : 'SL pts' }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="tp" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="addSL('points', i)">Points</a>
                      <a class="dropdown-item" (click)="addSL('percent', i)">Percent (%)</a>
                      <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                  </div>
                  <input type="number" [(ngModel)]="order.stoploss.value" />
                </div>
                <button class="cross_btn" (click)="removeSL(i)">
                  <img src="../../../../../assets/images/cross.png" alt="" />
                </button>
              </ng-container>
            </div>
            <div class="list_input_group">
              <span
                class="pointer"
                *ngIf="!order.tsl.type"
                style="position: relative; top: 10px;"
                (click)="updateTrailStoploss(i)"
                ><i class="bi bi-plus-circle"></i> Trail SL</span
              >
              <ng-container *ngIf="order.tsl.type">
                <div class="input_box">
                  <div class="dropdown" ngbDropdown>
                    <button
                      class="btn_dropdown dropdown-toggle"
                      type="button"
                      id="tp"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ngbDropdownToggle
                    >
                      {{ order.tsl.type == 'percent' ? 'TSL %' : 'TSL pts' }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="tp" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="addTSL('points', i)">Points</a>
                      <a class="dropdown-item" (click)="addTSL('percent', i)">Percent (%)</a>
                      <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                  </div>
                  <input type="number" [(ngModel)]="order.tsl.valuex" />
                  <input type="number" class="border_lft" [(ngModel)]="order.tsl.valuey" />
                </div>
                <button class="cross_btn" (click)="removeTSL(i)">
                  <img src="../../../../../assets/images/cross.png" alt="" />
                </button>
              </ng-container>
            </div>
            <!-- <div class="list_input_group">
              <span class="pointer" *ngIf="!order.reentry.type" style="position: relative; top: 10px;"
                (click)="updateReentry(i)"><i class="bi bi-plus-circle"></i> Re-Entry/Exec</span>
              <ng-container *ngIf="order.reentry.type">
                <div class="input_box">
                  <div class="dropdown" ngbDropdown>
                    <button class="btn_dropdown dropdown-toggle" type="button" id="tp" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                      {{ order.reentry.type }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="tp" ngbDropdownMenu
                      *ngIf="order.reentry.type != 'REASAPALL'">
                      <a class="dropdown-item" (click)="addReEntry('RECOST', i)">Re-Cost</a>
                      <a class="dropdown-item" (click)="addReEntry('REASAP', i)">Re-Asap</a>
                      <a class="dropdown-item" (click)="addReEntry('RECOSTREV', i)">Re-Cost &#8617;</a>
                      <a class="dropdown-item" (click)="addReEntry('REASAPREV', i)">Re-Asap &#8617;</a>

                    </div>
                  </div>
                  <input type="number" [(ngModel)]="order.reentry.value" *ngIf="order.reentry.type != 'REASAPALL'"
                    placeholder="eg.1" />
                  <ng-container *ngIf="order.reentry.type == 'REASAPALL'">
                    <input type="number" [(ngModel)]="strategy.reasapALLConfig.repeatCount" placeholder="1" />
                    <input type="number" class="border_lft" [(ngModel)]="strategy.reasapALLConfig.qmultiplier"
                      placeholder="qmultiplier" />
                    <input type="number" class="border_lft" [(ngModel)]="strategy.reasapALLConfig.exitLastnthLegs"
                      placeholder="exitnthLegs" />
                  </ng-container>
                </div>
                <button class="cross_btn" (click)="removeRE(i)" *ngIf="order.reentry.type != 'REASAPALL'">
                  <img src="../../../../../assets/images/cross.png" alt="" />
                </button>
              </ng-container>
            </div> -->
            <div class="list_input_group">
              <div class="custom_btn">
                <button [class]="order.exchange == 'NSE' ? 'active' : ''" (click)="order.exchange = 'NSE'">NSE</button>
                <button [class]="order.exchange == 'BSE' ? 'active' : ''" (click)="order.exchange = 'BSE'">
                  BSE
                </button>
              </div>
            </div>
            <div class="list_input_group">
              <button
                [disabled]="order._id"
                (click)="saveOrder(order)"
                style="background: #1fb141; border: 2px solid #1fb141; color: #fff;"
              >
                <i class="bi bi-play mr-1"> </i>Excute
              </button>
            </div>
          </div>
        </div>
        <div class="rgt_btn">
          <button>
            <img src="../../../../../assets/images/copy.png" alt="" />
          </button>
          <button (click)="deleteOrder(i)">
            <img src="../../../../../assets/images/delete.png" alt="" />
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="time_wrap">
      <div class="time_box">
        <div class="label">
          <p>Entry Time</p>
        </div>
        <div class="time_input_wrap">
          <select name="" id="">
            <option value="fixed">Fixed</option>
          </select>
          <span>:</span>
          <input type="number" [(ngModel)]="strategy.startTime" placeholder="eg. 925" />
        </div>
      </div>
      <div class="time_box">
        <div class="label">
          <p>Exit Time</p>
        </div>
        <div class="time_input_wrap">
          <select name="" id="">
            <option value="fixed">Fixed</option>
          </select>
          <span>:</span>
          <input type="number" [(ngModel)]="strategy.endTime" placeholder="eg. 1525" />
        </div>
      </div>
    </div> -->
  </ng-container>
  <div class="time_wrap strategy_box">
    <!-- <button class="time_box" *ngIf="!strategy.overallStoploss" (click)="strategy.overallStoploss=1000">
      <div class="button_box" >
        <img src="../../../../../assets/images/plus.png" alt="" />
        <p>Strategy Stoploss</p>
      </div>
    </button> -->
    <div class="time_box">
      <div class="label">
        <p>Order Stoploss(%)</p>
      </div>
      <div class="time_input_wrap">
        <!-- <select name="" id="">
          <option value="MTM">MTM</option>
        </select>
        <span>:</span> -->
        <input type="number" [(ngModel)]="strategy.orderStoploss" placeholder="eg. 5" />
      </div>
    </div>

    <!-- <button class="time_box" *ngIf="!strategy.overallTarget" (click)="strategy.overallTarget=1000">
      <div class="button_box">
        <img src="../../../../../assets/images/plus.png" alt="" />
        <p>Strategy Target Profit</p>
      </div>
    </button> -->
    <div class="time_box">
      <div class="label">
        <p>Order Target(%)</p>
      </div>
      <div class="time_input_wrap">
        <!-- <select name="" id="">
          <option value="MTM">MTM</option>
        </select>
        <span>:</span> -->
        <input type="number" [(ngModel)]="strategy.orderTarget" placeholder="eg.15" />
      </div>
    </div>
  </div>

  <div class="time_wrap strategy_box">
    <!-- <button class="time_box" *ngIf="!strategy.overallStoploss" (click)="strategy.overallStoploss=1000">
      <div class="button_box" >
        <img src="../../../../../assets/images/plus.png" alt="" />
        <p>Strategy Stoploss</p>
      </div>
    </button> -->
    <div class="time_box">
      <div class="label">
        <p>Strategy Stoploss</p>
      </div>
      <div class="time_input_wrap">
        <!-- <select name="" id="">
          <option value="MTM">MTM</option>
        </select>
        <span>:</span> -->
        <input type="number" [(ngModel)]="strategy.overallStoploss" placeholder="eg. 1500" />
      </div>
    </div>

    <!-- <button class="time_box" *ngIf="!strategy.overallTarget" (click)="strategy.overallTarget=1000">
      <div class="button_box">
        <img src="../../../../../assets/images/plus.png" alt="" />
        <p>Strategy Target Profit</p>
      </div>
    </button> -->
    <div class="time_box">
      <div class="label">
        <p>Strategy Target</p>
      </div>
      <div class="time_input_wrap">
        <!-- <select name="" id="">
          <option value="MTM">MTM</option>
        </select>
        <span>:</span> -->
        <input type="number" [(ngModel)]="strategy.overallTarget" placeholder="eg.1500" />
      </div>
    </div>
  </div>

  <div class="time_wrap strategy_box">
    <!-- <button class="time_box" *ngIf="!strategy.overallStoploss" (click)="strategy.overallStoploss=1000">
      <div class="button_box" >
        <img src="../../../../../assets/images/plus.png" alt="" />
        <p>Strategy Stoploss</p>
      </div>
    </button> -->
    <div class="time_box">
      <div class="label">
        <p>Minimum Margin &nbsp;</p>
      </div>
      <div class="time_input_wrap">
        <!-- <select name="" id="">
          <option value="MTM">MTM</option>
        </select>
        <span>:</span> -->
        <input type="number" min="1000" [(ngModel)]="strategy.margin" placeholder="eg.150000" />
      </div>
      <!-- 
      <div class="label ml-2">
        <p>Multiplier</p>
      </div>
      <div class="time_input_wrap">
        
        <input type="number" [(ngModel)]="strategy.multiplier" placeholder="eg. 2" />
      </div> -->
    </div>

    <!-- <button class="time_box" *ngIf="!strategy.overallTarget" (click)="strategy.overallTarget=1000">
      <div class="button_box">
        <img src="../../../../../assets/images/plus.png" alt="" />
        <p>Strategy Target Profit</p>
      </div>
    </button> -->
    <div class="time_box">
      <!-- <div class="label">
        <p>Days</p>
      </div>
      <div class="time_input_wrap">    
        <ng-multiselect-dropdown
          [placeholder]="'Select Days'"
          [settings]="dropdownSettings"
          [data]="days"
          [(ngModel)]="strategy.days"
        >
        </ng-multiselect-dropdown>
      </div> -->

      <div class="label ml-2">
        <p>Broker Connection</p>
      </div>
      <div class="time_input_wrap">
        <!-- <select name="" id="">
          <option value="MTM">MTM</option>
        </select>
        <span>:</span> -->
        <ng-multiselect-dropdown
          [placeholder]="'Select Connection'"
          [settings]="brokerSettings"
          [data]="connections"
          [(ngModel)]="strategy.brokers"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="time_wrap strategy_box">
    <!-- <button class="time_box" *ngIf="!strategy.overallStoploss" (click)="strategy.overallStoploss=1000">
      <div class="button_box" >
        <img src="../../../../../assets/images/plus.png" alt="" />
        <p>Strategy Stoploss</p>
      </div>
    </button> -->
    <div class="time_box">
      <div class="label">
        <p>Max Openpositions</p>
      </div>
      <div class="time_input_wrap">
        <!-- <select name="" id="">
          <option value="MTM">MTM</option>
        </select>
        <span>:</span> -->
        <input type="number" [(ngModel)]="strategy.maxpositions" placeholder="eg. 5" />
      </div>
    </div>

    <!-- <button class="time_box" *ngIf="!strategy.overallTarget" (click)="strategy.overallTarget=1000">
      <div class="button_box">
        <img src="../../../../../assets/images/plus.png" alt="" />
        <p>Strategy Target Profit</p>
      </div>
    </button> -->
    <div class="time_box">
      <div class="label">
        <p>Maximum Opendays</p>
      </div>
      <div class="time_input_wrap">
        <!-- <select name="" id="">
          <option value="MTM">MTM</option>
        </select>
        <span>:</span> -->
        <input type="number" [(ngModel)]="strategy.maxopendays" placeholder="eg.15" />
      </div>
    </div>
  </div>

  <div class="name_wrap">
    <div class="input_box">
      <label for="">Name</label>
      <input type="text" [(ngModel)]="strategy.name" [ngModelOptions]="{ standalone: true }" placeholder="Enter Name" />
    </div>
    <div>
      <button
        [disabled]="!strategy.name || !strategy.orderStoploss || !strategy.margin || !strategy.maxpositions"
        type="button"
        class="btn btn-success mt-3 mt-sm-0 w-100 w-sm-auto"
        (click)="saveStrategy()"
        *ngIf="!strategyId"
      >
        Save
      </button>
      <button
        type="button"
        [disabled]="!strategy.name || !strategy.orderStoploss || !strategy.margin || !strategy.maxpositions"
        class="btn btn-success mt-3 mt-sm-0 w-100 w-sm-auto"
        (click)="updateStrategy()"
        *ngIf="strategyId"
      >
        Update
      </button>
    </div>
  </div>
</div>
