<app-header (messageEvent)="receiveMessage($event)"></app-header>
<app-side-bar [menu]="menu" (messageEvent)="receiveMessage($event)"></app-side-bar>
<div class="page-content" (click)="onClick()">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div id="main-content-section">
    <div class="top-level-tabs">
      <reuse-tab [i18n]="data" (change)="changeTab($event)" (close)="closeTab($event)"></reuse-tab>
    </div>
    <div class="wow fadeInUp" data-wow-delay="0.4s" class="main-content">
      <div nz-row class="main-row">
        <div nz-col nzSpan="24" class="main-column">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div> -->
