/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";
@import "~angular-tree-component/dist/angular-tree-component.css";

// 3rd party libraries
// @import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Theme customization
@import "theme/theme";

.node-content-wrapper-active,
.node-content-wrapper-active.node-content-wrapper-focused {
  background: #f5f5f5 !important;
}

.formtree {
  .node-content-wrapper {
    width: 80%;
  }
  .node-content-wrapper-active.node-content-wrapper-active .node-content-wrapper-focused {
    background: none !important;
  }

  .node-content-wrapper-focused {
    box-shadow: none;
    background: none !important;
  }
  .node-content-wrapper:hover {
    box-shadow: none;
    background: none !important;
  }
}

.tagify {
  --tag-pad: 0 0.5rem;
  line-height: 1.5;
}

.tagify__input:empty::before {
  line-height: inherit;
}

.tagify.form-control {
  height: unset;
}

tree-viewport {
  overflow: inherit !important;
}

.canvas {
  tree-node {
    display: inline-block !important;
  }

  .tree-node-expanded {
    display: grid;
  }
  tree-node-collection > div {
    white-space: nowrap;
  }
  .tree-children tree-node-collection > div {
    display: grid;
  }
  .tree-node-level-2.tree-node.tree-node-expanded {
    display: flex;
  }
  .tree-node-level-3.tree-node.tree-node-expanded {
    display: flex;
  }
  .tree-node-level-1.tree-node.tree-node-expanded {
    border: 1px dashed #ddd;
  }
}

.content-wrapper {
  overflow-x: hidden !important;
  overflow-y: auto;
}

// .in-content {

//   div.tree {
//     padding-left: 0;
//     margin-left: -5px
// }

//  div.tree-children {
//     position: relative;
//     padding-left: 0;
//     margin-left: 16px
// }

// div.tree-children::before {
//     left: 5px
// }

//  .node-wrapper {
//     margin-left: 24px
// }

// .node-wrapper>.node-content-wrapper {
//     margin-left: 4px
// }

// tree-node>div.tree-node-leaf>.node-wrapper {
//     margin-left: 0
// }

// //  tree-node>div::before {
// //     content: "";
// //     position: absolute;
// //     border-bottom: 1px dotted #23527c;
// //     width: 7px;
// //     margin-top: 12px;
// //     left: 7px
// // }

//   tree-node>div .toggle-children-wrapper {
//     width: 13px;
//     height: 13px;
//     border: 1px solid #23527c;
//     position: absolute;
//     left: 15px;
//     margin-top: 5px;
//     margin-left: 0;
//     display: inline-block;
//     background-color: #fff;
//     z-index: 1
// }

// tree-node>div .toggle-children-wrapper::before {
//     content: "";
//     display: inline-block;
//     width: 7px;
//     border-top: 1px solid #23527c;
//     position: absolute;
//     top: 5px;
//     left: 2px
// }

// tree-node>div .toggle-children-wrapper.toggle-children-wrapper-collapsed::after {
//     content: "";
//     display: inline-block;
//     height: 7px;
//     border-left: 1px solid #23527c;
//     position: absolute;
//     top: 2px;
//     left: 5px
// }

// tree-node>div .toggle-children-wrapper .toggle-children {
//   display: none
// }

//  tree-node>div .node-content-wrapper {
//   margin-left: 4px
// }

// tree-node>div::before {
//   left: 14px
// }

// tree-node>div>.node-wrapper>tree-node-expander>.toggle-children-wrapper {
//   left: 22px
// }
// }

.tree-node-checkbox {
  vertical-align: middle !important;
}

.pointer {
  cursor: pointer;
}

.form-control {
  // margin-left: 20px;
  // margin-right: -20px;
  padding: 4px !important;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d5d6d9 !important;
  // width: 90%;
  border-color: #d5d6d9;
}

.modal-dialog {
  max-width: 650px !important;
}

.multiselect-dropdown {
  min-width: 200px !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  margin-bottom: 3px;
  background: #1565c0 !important;
  border: 1px solid #1565c0 !important;
  max-width: 150px !important;
}
