<div class="content-wrapper">
  <div class="content">
    <div class="card" style="">
      <div class="card-header header-elements-sm-inline">
        <h6 class="card-title">
          {{ app?.name }} Positions
          <span class="badge bg-light border-start border-width-3 text-body rounded-start-0 border-primary"
            >{{ tableState?.activeCount }} active</span
          >
        </h6>
        <div class="header-elements">
          <!-- <div class="list-icons ml-3">
                <div class="dropdown">
                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-sync"></i> Update data</a>
                        <a href="#" class="dropdown-item"><i class="icon-list-unordered"></i> Detailed log</a>
                        <a href="#" class="dropdown-item"><i class="icon-pie5"></i> Statistics</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-cross3"></i> Clear list</a>
                    </div>
                </div>
            </div> -->
        </div>
      </div>
      <div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
        <div class="d-flex align-items-center mb-3 mb-sm-0">
          <i class="icon-pie-chart5 icon-3x text-success"> </i>

          <div class="ml-3">
            <h5 class="font-weight-semibold mb-0">
              {{ tableState.totalCapital }}
              <span
                class="{{
                  tableState.totalNetChange >= 0 ? 'text-success' : 'text-danger'
                }} text-success font-size-sm font-weight-normal"
              >
                ({{ tableState.totalNetChange }}%)</span
              >
            </h5>
            <span class="badge badge-mark border-success mr-1"></span> <span class="text-muted">Used Margin</span>
          </div>
        </div>

        <div class="d-flex align-items-center mb-3 mb-sm-0">
          <i class="icon-stats-growth icon-2x text-muted"></i>
          <div class="ml-3">
            <h5 class="{{ tableState.totalNetChange >= 0 ? 'text-success' : 'text-danger' }} font-weight-semibold mb-0">
              <span *ngIf="tableState.totalNetChange > 0">+</span>{{ tableState?.totalPnl | number: '1.2-2'
              }}<span class=" font-size-sm font-weight-normal"> ({{ tableState.totalNetChange }}%)</span>
            </h5>
            <span class="badge badge-mark border-danger mr-1"></span> <span class="text-muted">Total MTM</span>
          </div>
        </div>

        <div class="display:inline">
          <!--          
            <label class="custom-control custom-switch ">
                <input type="checkbox" class="custom-control-input" checked="">
                <span class="custom-control-label">Live update</span>
            </label>

          <span> Live</span>  -->
          <button
            class="dt-button buttons-csv buttons-html5 btn btn-light mr-3"
            tabindex="0"
            aria-controls="DataTables_Table_3"
            type="button"
            routerLink="/create/{{ appName }}"
          >
            <span><i class="bi bi-gear mr-2"></i>Manage</span>
          </button>
          <!-- <button
            type="button"
            (click)="openModel(content)"
            class="btn btn-outline alpha-success text-success-800 border-success-600 "
          >
            <i class="icon-plus2 mr-2"></i> New Trade
          </button> -->
          <!-- <div class="custom-control custom-control-right custom-switch custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="sc_ri_c" checked="">
            <label class="custom-control-label" for="sc_ri_c">Checked</label>
          </div> -->
        </div>
      </div>
      <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">
        <div class="datatable-header">
          <div id="DataTables_Table_3_filter" class="dataTables_filter">
            <button
              class="dt-button buttons-csv buttons-html5 btn btn-light mr-3"
              tabindex="0"
              aria-controls="DataTables_Table_3"
              type="button"
              routerLink="create/{{ appName }}"
            >
              <span><i class="icon-file-spreadsheet mr-2"></i>Reports</span>
            </button>
          </div>
          <!-- <div class="dt-buttons">
            <button
              class="dt-button buttons-csv buttons-html5 btn btn-light mr-3"
              tabindex="0"
              aria-controls="DataTables_Table_3"
              type="button"
            >
              <span><i class="icon-file-spreadsheet mr-2"></i>Download CSV</span>
            </button>
            <button
              type="button"
              (click)="openModel(content)"
              class="btn btn-outline alpha-success text-success-800 border-success-600 "
            >
              <i class="icon-plus2 mr-2"></i> New Trade
            </button>
          </div> -->
        </div>
        <div class="datatable-scroll">
          <table
            class="table table-bordered table-hover datatable-highlight dataTable no-footer"
            id="DataTables_Table_2"
            role="grid"
            aria-describedby="DataTables_Table_2_info"
          >
            <thead>
              <tr role="row">
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="DOB: activate to sort column ascending"
                >
                  SIDE
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Last Name: activate to sort column ascending"
                >
                  Ent Time
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Last Name: activate to sort column ascending"
                >
                  Exit Time
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="First Name: activate to sort column descending"
                  aria-sort="ascending"
                  style="width: 15%;"
                >
                  Symbol
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Last Name: activate to sort column ascending"
                >
                  Quantity
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Job Title: activate to sort column ascending"
                >
                  ENT Price
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Job Title: activate to sort column ascending"
                >
                  Stoploss
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Job Title: activate to sort column ascending"
                >
                  EXIT Price
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Job Title: activate to sort column ascending"
                >
                  LTP
                </th>
                <th
                  class="sorting_disabled"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Job Title: activate to sort column ascending"
                >
                  P&L
                </th>

                <th
                  class="text-center sorting"
                  tabindex="0"
                  aria-controls="DataTables_Table_2"
                  rowspan="1"
                  colspan="1"
                  aria-label="Status: activate to sort column ascending"
                >
                  Status
                </th>
                <th
                  class="text-center sorting_disabled"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions"
                  style="width: 100px;"
                  style="width: 10%;"
                >
                  Remarks
                </th>
                <th
                  class="text-center sorting_disabled"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions"
                  style="width: 100px;"
                >
                  Manage
                </th>
              </tr>
            </thead>
            <tbody *ngIf="trades">
              <tr
                *ngFor="let trade of trades; trackBy: identify"
                class="{{ trade.closeReason == 'slHit' ? 'table-dim' : '' }}"
              >
                <td class="">
                  <span
                    class="badge {{
                      trade.orderType === 'BUY' ? 'badge badge-success-custom' : 'badge badge-sell-custom'
                    }}"
                    >{{ trade.orderSide }}</span
                  >
                  <!-- <span style="display: block;">REENTRY</span> -->
                </td>
                <td class="">{{ trade.entryTime | date: 'dd/MM/yy hh:mm' }}</td>
                <td class="">{{ trade.exitTime | date: 'hh:mm:ss' }}</td>
                <td class="sorting_1">{{ trade.symbol }}</td>
                <td class="">{{ trade.quantity }}</td>

                <td class="">{{ trade.avgEntryPrice | number: '1.2-2' }}</td>
                <td class="">{{ trade.stoploss | number: '1.2-2' }}</td>
                <td class="">{{ trade.avgExitPrice }}</td>
                <td class="">{{ trade.ltp | number: '1.2-2' }}</td>
                <td class="{{ trade.pnl >= 0 ? 'text-success' : 'text-danger' }}">
                  <span *ngIf="trade.pnl > 0">+</span>{{ trade.pnl | number: '1.2-2' }}
                </td>

                <td class="text-center">
                  <span class="badge {{ trade.status === 'Open' ? 'badge-success' : 'badge-secondary' }}">{{
                    trade.status
                  }}</span>
                </td>
                <td class="">{{ trade.closeReason }}</td>
                <td>
                  <ul class="list-inline mb-0 mt-2 mt-sm-0 pointer">
                    <!-- <li class="list-inline-item pointer" (click)="deleteFlow(index)"><i class="icon-trash"></i></li> -->
                    <li class="list-inline-item dropdown" ngbDropdown>
                      <a class="text-default dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle
                        ><i class="icon-menu7"></i
                      ></a>

                      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item"><i class="icon-attachment"></i> View Details</a>
                        <!-- <a class="dropdown-item"><i class="icon-rotate-ccw2"></i> Reassign</a> -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"><i class="icon-pencil7"></i> Edit Position</a>
                        <a class="dropdown-item" (click)="exitPosition(trade)"><i class="icon-cross2"></i>Sqoff</a>
                      </div>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="datatable-footer">
          <div class="dataTables_info mr-3" id="DataTables_Table_2_info" role="status" aria-live="polite">
            Showing {{ trades.length }} entries
          </div>

          <button
            *ngIf="tableState.activeCount > 0"
            class="dt-button buttons-csv buttons-html5 btn btn-warning mr-3"
            tabindex="0"
            aria-controls="DataTables_Table_3"
            type="button"
            (click)="terminateAlgo(app)"
          >
            <span><i class="bi bi-exclamation-triangle  mr-2"></i>Terminate&SquareOff</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="ml-2 row">
      <div class="customcard" *ngFor="let card of createNew" (click)="activeCard(card)">
        <span [ngClass]="{ activeCard: card.name == activeNode?.name }">
          <i class="{{ card.icon }} icon-2x text-white customIcon"></i>
          <div class="cText text-white mb-0">{{ card.name }}</div>
        </span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-xl-12">
        <p class="card-footer mt-2">
          {{ activeNode.description }}
        </p>
      </div>
    </div>
    <form [formGroup]="flowForm">
      <ng-container *ngIf="activeNode.name !== 'Strategy'">
        <div class="row ">
          <div class="col-xl-6">
            <div class="form-group">
              <label for="dateOfBirth">Name</label>
              <div class="input-group">
                <input id="dateOfBirth" formControlName="name" class="form-control" placeholder="strategy Name" />
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="label-section">
              <label> <span class="text-danger">*</span>Type</label>
              <select formControlName="type" class="form-control">
                <option [ngValue]="'simple'">Simple</option>
                <option [ngValue]="'adjust'">Adjustment</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="form-group">
              <label for="dateOfBirth">StartTime</label>
              <div class="input-group">
                <input
                  id="dateOfBirth"
                  type="number"
                  formControlName="startTime"
                  class="form-control"
                  placeholder="startTime"
                />
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label for="dateOfBirth">EndTime</label>
              <div class="input-group">
                <input
                  id="dateOfBirth"
                  type="number"
                  formControlName="endTime"
                  class="form-control"
                  placeholder="EndTime"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="form-group">
              <label for="dateOfBirth">Stoploss (%)</label>
              <div class="input-group">
                <input
                  id="dateOfBirth"
                  type="number"
                  min="0.5"
                  max="100"
                  formControlName="stopLoss"
                  class="form-control"
                  placeholder="Stoploss"
                />
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label for="dateOfBirth">Target (%)</label>
              <div class="input-group">
                <input
                  id="dateOfBirth"
                  type="number"
                  min="0.5"
                  max="100"
                  formControlName="target"
                  class="form-control"
                  placeholder="Target"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6">
            <div class="label-section">
              <label> <span class="text-danger">*</span>Segment</label>
              <select formControlName="segment" class="form-control">
                <option [ngValue]="'cash'">Cash</option>
                <option [ngValue]="'fno'">Fno</option>
              </select>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="label-section">
              <label> <span class="text-danger">*</span>Target&Sl</label>
              <select formControlName="numbersIn" class="form-control">
                <option [ngValue]="'percent'">Percentage</option>
                <option [ngValue]="'MTM'">MTM</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6">
            <div class="form-group">
              <label for="dateOfBirth">Margin (* 1LOT)</label>
              <div class="input-group">
                <input
                  id="margin"
                  type="number"
                  formControlName="margin"
                  class="form-control"
                  placeholder="startTime"
                />
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group">
              <label for="dateOfBirth">Multiplier(1X)</label>
              <div class="input-group">
                <input
                  id="margin"
                  type="number"
                  min="1"
                  max="30"
                  formControlName="multiplier"
                  class="form-control"
                  placeholder="startTime"
                />
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container
        formArrayName="positions"
        *ngIf="activeNode.name == 'Strategy' && flowForm.get('segment').value === 'fno'"
      >
        <ng-container *ngFor="let positionForm of positions.controls; let i = index">
          <div class="lesson-form-row" [formGroup]="positionForm">
            <div class="row">
              <div class="col-xl-4">
                <div class="label-section">
                  <label>
                    <span class="text-danger">*</span>Stock
                    <span (click)="removePosition(i)" class="badge badge-flat border-warning text-warning pointer"
                      >Remove</span
                    ></label
                  >
                  <select formControlName="stock" (change)="changeStock($event.target.value)" class="form-control">
                    <option [ngValue]="'NIFTY'">NIFTY</option>
                    <option [ngValue]="'BANKNIFTY'">BANKNIFTY</option>
                    <option [ngValue]="'FINNIFTY'">FINNIFTY</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="label-section">
                  <label> <span class="text-danger">*</span>Strike</label>
                  <select formControlName="strike" class="form-control">
                    <option *ngFor="let strike of strikes" [value]="strike">ATM {{ strike ? strike : '' }}</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="label-section">
                  <label> <span class="text-danger">*</span>OrderType</label>
                  <select formControlName="orderType" class="form-control">
                    <option [ngValue]="'SELL'">SELL</option>
                    <option [ngValue]="'BUY'">BUY</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4">
                <div class="form-group">
                  <label for="dateOfBirth">Quantity</label>
                  <div class="input-group">
                    <input
                      id="dateOfBirth"
                      type="number"
                      min="50"
                      max="100000"
                      formControlName="quantity"
                      class="form-control"
                      placeholder="Target"
                    />
                  </div>
                </div>
              </div>

              <div class="col-xl-4">
                <div class="label-section">
                  <label> <span class="text-danger">*</span>OrderSide</label>
                  <select formControlName="orderSide" class="form-control">
                    <option [ngValue]="'CE'">CE</option>
                    <option [ngValue]="'PE'">PE</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label for="dateOfBirth">Stoploss</label>
                  <div class="input-group">
                    <input
                      id="dateOfBirth"
                      type="number"
                      min="1"
                      max="100"
                      formControlName="stopLoss"
                      class="form-control"
                      placeholder="Stoploss"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- <mat-icon class="delete-btn" (click)="deleteLesson(i)">
                  delete_forever</mat-icon> -->
          </div>
        </ng-container>
        <button type="button" class="btn bg-primary-800" (click)="addPosition(flowForm.value.segment)">
          Add Position
        </button>
      </ng-container>

      <ng-container
        formArrayName="positions"
        *ngIf="activeNode.name == 'Strategy' && flowForm.get('segment').value === 'cash'"
      >
        <ng-container *ngFor="let positionForm of positions.controls; let i = index">
          <div
            class="lesson-form-row"
            [formGroup]="positionForm"
            style="margin-top:6px;border-bottom: 2px dashed #ddd;"
          >
            <div class="row">
              <div class="col-xl-4">
                <div class="form-group">
                  <label for="Stock"
                    >Stock
                    <span (click)="removePosition(i)" class="badge badge-flat border-warning text-warning pointer"
                      >Remove</span
                    ></label
                  >
                  <div class="input-group">
                    <input id="Stock" formControlName="stock" class="form-control" placeholder="e.g INFY" />
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label for="dateOfBirth">Quantity</label>
                  <div class="input-group">
                    <input
                      id="dateOfBirth"
                      type="number"
                      min="1"
                      max="100000"
                      formControlName="quantity"
                      class="form-control"
                      placeholder="Target"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="label-section">
                  <label> <span class="text-danger">*</span>OrderType</label>
                  <select formControlName="orderType" class="form-control">
                    <option [ngValue]="'SELL'">SELL</option>
                    <option [ngValue]="'BUY'">BUY</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3">
                <div class="form-group">
                  <label for="dateOfBirth">Trigger price</label>
                  <div class="input-group">
                    <input
                      id="Stoploss"
                      type="number"
                      min="1"
                      max="100"
                      formControlName="triggerPrice"
                      class="form-control"
                      placeholder="Stoploss"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="form-group">
                  <label for="dateOfBirth">Price</label>
                  <div class="input-group">
                    <input
                      id="dateOfBirth"
                      type="number"
                      min="1"
                      max="100000"
                      formControlName="price"
                      class="form-control"
                      placeholder="Stoploss"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="form-group">
                  <label for="dateOfBirth">Stoploss</label>
                  <div class="input-group">
                    <input
                      id="Stoploss"
                      type="number"
                      min="1"
                      max="100"
                      formControlName="stopLoss"
                      class="form-control"
                      placeholder="Stoploss"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xl-3">
                <div class="form-group">
                  <label for="dateOfBirth">Target</label>
                  <div class="input-group">
                    <input
                      id="dateOfBirth"
                      type="number"
                      min="1"
                      max="100000"
                      formControlName="target"
                      class="form-control"
                      placeholder="Stoploss"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- <mat-icon class="delete-btn" (click)="deleteLesson(i)">
                  delete_forever</mat-icon> -->
          </div>
        </ng-container>
        <button type="button" class="btn bg-primary-800" (click)="addPosition(flowForm.value.segment)">
          Add Position
        </button>
      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn bg-primary-800" (click)="save(flowForm.value)">Save</button>
  </div>
</ng-template>
